*{
    padding: 0;
    margin: 0;
    font-family: var(--pFont__Family);
}

:root{
    --pFont__Family: 'Poppins';
}

.banner__section{
    height: 100%;
    background-color: #EBFDF5;
    overflow: hidden;
}

/* =====header section start here====== */
.header {
    display: flex;
    align-items: center;
    padding: 15px 0;
   
}

.header .device__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header .device__menu .menu__bar, .device__menu .logo__section img{
    cursor: pointer;
}


.header .device__menu .menu__bar i.fa-solid.fa-bars {
    color: #1A72E7;
    font-size: 24px;
}

.menu{
    position: absolute;
    content: "";
    top: 0;
    right: -3000px;
    width: 50%;
    padding: 110px;
    height: 100%;
    background-color: #fff;
    transform: rotateZ(-30deg);
    transition: all .5s ease-in-out;
    transform-origin: right;
    z-index: 999;
    display: none;
}

.open{
    transform: rotateZ(0deg);
    right: 0;
}

.menu .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 75px;
}

.menu .title span{
    font-size: 24px;
    line-height: 36px;
}

.menu .title i.fa-solid.fa-xmark {
    font-size: 24px;
    color: #1A72E7;
    cursor: pointer;
}

.menu ul{
    padding: 0;
    margin: 0;
}

.menu ul li{
    list-style: none;
    padding-bottom: 30px;
}

.menu ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}

/* =====header section end here====== */

/* =====hero section start here====== */
.hero__section {
    display: flex;
    align-items: center;
    padding: 198px 0;
}

h1 span{
    font-weight: 600;
    font-size: 60px;
    margin: 0;
    line-height: 108px;
    background: linear-gradient(91.57deg, #0057FF 48.67%, #39C1DF 76.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

.hero__section .hero__inner span.title__span{
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;
    margin: 23px 0 50px 0;
    display: block;
}


.hero__inner .title a {
    position: relative;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    border: none;
    background-color: transparent;
    color: #1A72E7;
    z-index: 1;
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.6s;
    display: inline-block;
}

.hero__inner .title a::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 13%;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: #1A72E7;
    transition: 0.6s;
    border-radius: 3px;
}

.title a span{
    color: #fff;
}

.hero__inner .title a:hover{
    color: #fff;
}

.hero__inner .title a:hover::after{
    width: 100%;
}

.giffy img {
    width: 100%;
}


/* =====hero section end here======== */






/* ===================================
    mission CSS Start here
======================================*/


.mission_section {
    background-image: url('../../assets/images/business.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  
  .quate {
    margin-bottom: 30px;
  }
  .quate span{
    background: linear-gradient(91.57deg, #FFFFFF 48.67%, #39C1DF 76.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    padding-left: 78px;
  }
  
  .quate span::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 7px;
    background-color: #fff;
    height: 2px;
    width: 70px;
  }
  
  .mission_content_section .mission_content h2 {
    font-size: 71px;
    font-weight: 700;
    color: #fff;
  
  }
  
  .swiper-slide.swiper-slide-visible.swiper-slide-prev {
    opacity: 0;
  }
   
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 550px;
    height: 550px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  
  /* ===================================
      mission CSS end here
  ======================================*/


  /* ===================================
    service CSS end here
======================================*/


.service_header_left h2, .service_header_left h3 {
    font-size: 64px;
    font-weight: 600;
  }
   
  .service_header_left h2 {
    background:  linear-gradient(69.57deg, #0057FF 61.67%, #39C1DF 69.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
  }
  
  
  .service_header {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
  }
  
  
  .service_item {
    background: #FFFFFF;
    box-shadow: 1px 4px 10px rgb(236 237 239 / 80%);
    border-radius: 8px;
    text-align: center;
    padding: 30px;
  }
  
  .service_item h2, h3 {
    font-size: 50px;
    font-weight: 700;
  }
  .service_item h2 {
    background: linear-gradient(91.57deg, #0057FF 48.67%, #39C1DF 76.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  
  .quate.service_quate span::after {
    background:#0057FF;
  }
  
  .quate.service_quate span{
    background: linear-gradient(91.57deg, #0057FF 48.67%, #39C1DF 76.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
   
  
  .service_item img {
    width: 200px;
    margin: auto;
  }
  
  .swiper-slide:nth-child(1) .service_item img{
    margin: 24px auto; 
  }
  
  .service_section {
    padding: 100px 0px 200px;
  }
  
 
  
  
  /* ===================================
      service CSS end here
  ======================================*/












/* =====service work section start here */

/* .service__work__inner .item h1{
    font-weight: 600;
    font-size: 60px;
    margin: 0;
    line-height: 108px;
    } */

  .service__work__section {
      margin: 200px 0;
    }

    /* owl carosol */
    .owl-carousel .owl-stage-outer {
        position: relative;
        padding-top: 100px;
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
        position: absolute;
        top: 0;
        margin: 0 0 70px 0;
        display: block;
    }

    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        border: 1px solid #0057FF;
        background:  transparent;
        height: 66px;
        width: 66px;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .owl-theme .owl-dots .owl-dot span {
        height: 66px;
        width: 66px;
        margin: 5px 7px;
        background: transparent;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity 200ms ease;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-image: linear-gradient(180deg, #0057FF, #fff) 1;
        border-width: 1px;
        border-style: solid;
    }
    /* owl carosol */

/* =====service work section end here===== */


/*===== client section start here===== */
.client__inner .client__logo {
    padding-top: 130px;
}

/* .client__inner .client__logo .logo__section img {
    width: 100%;
} */

.client__inner .client__logo .logo__area {
    margin-bottom: 130px;
}

/* ========================== */
 /* h1 {
    font-weight: 600;
    font-size: 60px;
    margin: 0;
} */
/* ====================== */


.client__satisfic .satisfic__list__full {
    margin-right: 20px;
}

.client__satisfic .giffy {
    margin-left: 20px;
}

.client__satisfic .satisfic__list {
    padding-bottom: 30px;
}

h1.number_in {
    font-weight: 300 !important;
}

.client__satisfic .satisfic__list:last-child{
    padding-bottom: 0;
}

.client__satisfic .satisfic__list .list__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.satisfic__list .list__text p {
    font-weight: 300;
    font-size: 21px;
    text-align: justify;
    margin: 0;
}
/*===== client section end here===== */