*{
    padding: 0;
    margin: 0;
    font-family: var(--pFont__Family);
}

:root{
    --pFont__Family: 'Poppins';
}

.banner__section{
    height: 100%;
    background-color: #EBFDF5;
    overflow: hidden;
}

.container{
    max-width: 1550px;
}

/* =====social media color===== */
.fa-brands.fa-facebook{
    color: #1877F2;
    color: #E4405F;
}

.fa-brands.fa-behance-square{
    color: #131418;
}

.fa-solid.fa-basketball{
    color: #EA4C89;
}

.fa-brands.fa-dribbble{
    color: #EA4C89;
}

.fa-brands.fa-whatsapp-square{
    color: #25D366;
}

.fa-brands.fa-instagram-square{
    
}


/* =====social media color===== */

/* =====header section start here====== */
.banner__section{
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    padding: 17px 0;
   
}

.header .device__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header .device__menu .menu__bar, .device__menu .logo__section img{
    cursor: pointer;
}


.header .device__menu .menu__bar i.fa-solid.fa-bars {
    color: #1A72E7;
    font-size: 24px;
}

.menu{
    position: absolute;
    content: "";
    top: 0;
    right: -3000px;
    width: 50%;
    padding: 110px;
    height: 100%;
    background-color: #fff;
    transform: rotateZ(-30deg);
    transition: all .5s ease-in-out;
    transform-origin: right;
    z-index: 999;
    display: none;
}

.open{
    transform: rotateZ(0deg);
    right: 0;
}

.menu .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 75px;
}

.menu .title span{
    font-size: 24px;
    line-height: 36px;
}

.menu .title i.fa-solid.fa-xmark {
    font-size: 24px;
    color: #1A72E7;
    cursor: pointer;
}

.menu ul{
    padding: 0;
    margin: 0;
}

.menu ul li{
    list-style: none;
    padding-bottom: 30px;
}

.menu ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}

/* =====header section end here====== */

/* =====hero section start here====== */
.hero__section {
    display: flex;
    align-items: center;
    /* padding: 198px 0; */
    /* height: 89vh; */
    height: 100%;

}

h1 span{
    font-weight: 600;
    font-size: 60px;
    margin: 0;
    line-height: 108px;
    background: linear-gradient(91.57deg, #0057FF 48.67%, #39C1DF 76.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

.hero__section .hero__inner span.title__span{
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;
    margin: 23px 0 50px 0;
    display: block;
}


.hero__inner .title a,
 .service__work__inner .title a,
  .ouroffer__inner .offer__banner h1 a {
    position: relative;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    border: none;
    background-color: transparent;
    color: #1A72E7;
    z-index: 1;
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.6s;
    display: inline-block;
}

.ouroffer__inner .offer__banner h1 a{
    font-size: 60px;
    font-weight: 600;
}

.hero__inner .title a::after,
 .service__work__inner .title a::after,
  .ouroffer__inner .offer__banner h1 a::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 13%;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: #1A72E7;
    transition: 0.6s;
    border-radius: 3px;
}

.service__work__inner .title a::after {
    width: 33%;
}

/* .hero__section.banner__hero .title a::after {
    width: 35%;
} */

.title a span,
 .ouroffer__inner .offer__banner h1 a span{
    color: #fff;
}

.hero__inner .title a:hover,
 .service__work__inner .title a:hover,
  .hero__inner .title a:hover::after
  /* .ouroffer__inner .offer__banner h1 a:hover::after */
  {
    color: #fff;
}

.hero__inner .title a:hover::after,
 .service__work__inner .title a:hover::after,
  .hero__inner .title a:hover::after,
   .ouroffer__inner .offer__banner h1 a:hover::after{
    width: 100%;
}

.ouroffer__inner .offer__banner h1 a:hover{
    color: #fff;
}

.giffy img {
    width: 100%;
}


/* =====hero section end here======== */






/* ===================================
    mission CSS Start here
======================================*/


.mission_section {
    background-image: url('../../assets/images/business.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    /* display: none; */
  }
  
  .quate {
    margin-bottom: 30px;
  }
  .quate span{
    background: linear-gradient(91.57deg, #FFFFFF 48.67%, #39C1DF 76.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    padding-left: 78px;
  }
  
  .quate span::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 7px;
    background-color: #fff;
    height: 2px;
    width: 70px;
  }
  
  .mission_content_section .mission_content h2 {
    font-size: 71px;
    font-weight: 700;
    color: #fff;
  
  }
  
  .swiper-slide.swiper-slide-visible.swiper-slide-prev {
    opacity: 0;
  }
   
  .service_inner .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .service_inner .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 550px;
    height: 550px;
  }
  
  .service_inner .swiper-slide img {
    display: block;
    width: 100%;
  }
  
  /* ===================================
      mission CSS end here
  ======================================*/


  /* ===================================
    service CSS end here
======================================*/


.service_header_left h2, .service_header_left h3 {
    font-size: 64px;
    font-weight: 600;
  }
   
  .service_header_left h2 {
    background:  linear-gradient(69.57deg, #0057FF 61.67%, #39C1DF 69.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
  }
  
  
  .service_header {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
  }
  
  
  .service_item {
    background: #FFFFFF;
    box-shadow: 1px 4px 10px rgb(236 237 239 / 80%);
    border-radius: 8px;
    text-align: center;
    padding: 30px;
  }
  
  .service_item h2, h3 {
    font-size: 50px;
    font-weight: 700;
  }
  .service_item h2 {
    background: linear-gradient(91.57deg, #0057FF 48.67%, #39C1DF 76.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  
  .quate.service_quate span::after {
    background:#0057FF;
  }
  
  .quate.service_quate span{
    background: linear-gradient(91.57deg, #0057FF 48.67%, #39C1DF 76.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
   
  
  .service_item img {
    width: 200px;
    margin: auto;
  }
  
  .swiper-slide:nth-child(1) .service_item img{
    margin: 24px auto; 
  }
  
  .service_section {
    padding: 100px 0px 200px;
  }
  

  /* ===================================
      service CSS end here
  ======================================*/


/* =====service work section start here====== */

/* .service__work__inner .item h1{
    font-weight: 600;
    font-size: 60px;
    margin: 0;
    line-height: 108px;
    } */

  .service__work__section {
      margin: 200px 0;
    }

    .service__work__section .title {
        margin-top: 50px;
    }

   
    /* owl carosol */
    .owl-carousel .owl-stage-outer {
        position: relative;
        padding-top: 100px;
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
        position: absolute;
        top: 0;
        margin: 0 0 70px 0;
        display: block;
    }

    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        border: 1px solid #0057FF;
        background:  transparent;
        height: 66px;
        width: 66px;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .owl-theme .owl-dots .owl-dot span {
        height: 66px;
        width: 66px;
        margin: 5px 7px;
        background: transparent;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity 200ms ease;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-image: linear-gradient(180deg, #0057FF, #fff) 1;
        border-width: 1px;
        border-style: solid;
    }
    /* owl carosol */

/* =====service work section end here===== */


/*=====client section start here===== */
.client__inner .client__logo {
    padding-top: 130px;
}

.client__inner .client__logo .logo__area {
    margin-bottom: 130px;
}

/* ========================== */
 h1 {
    font-weight: 600;
    font-size: 60px;
    margin: 0;
}
/* ====================== */


.client__satisfic .satisfic__list__full {
    margin-right: 20px;
}

.client__satisfic .giffy {
    margin-left: 20px;
}

.client__satisfic .satisfic__list {
    padding-bottom: 30px;
}

h1.number_in {
    font-weight: 300 !important;
}

.client__satisfic .satisfic__list:last-child{
    padding-bottom: 0;
}

.client__satisfic .satisfic__list .list__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.satisfic__list .list__text p {
    font-weight: 300;
    font-size: 21px;
    text-align: justify;
    margin: 0;
}
/*===== client section end here===== */

/* =====facilities section start here==== */
.facilities__section {
    margin: 200px 0;
    /* display: none; */
}

.quate.facilities__quate {
    text-align: right;
}

.quate.facilities__quate.job__offer .rotate {
    display: inline-block;
    transform: rotate(90deg);
}

.quate.facilities__quate span {
    padding: 0;
    background: linear-gradient(91.57deg, #0057FF 48.67%, #39C1DF 76.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quate.facilities__quate span::after {
    left: -76px;
    background: linear-gradient(135deg, #0057FF 25%, #000000 80.79%);
}

.facilities__section .title {
    padding-bottom: 60px;
}

.our__exprts .exprts__area {
    margin-bottom: 22px;
}

.image__section img{
    width: 100%;
}
/* =====facilities section end here===== */

/* =====testimonial section start here===== */
.testimonial__inner {
    background-image: url(../image/banner/testimonial.png);
    padding: 61px 130px 44px 58px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* position: relative; */
}

.testimonial__inner .boss__spec .title,
 .testimonial__inner .boss__spec .para {
    color: #fff;
}

.testimonial__inner .boss__spec .title h2{
    font-size: 48px;
    height: 72px;
    margin: 0;
}

.testimonial__inner .boss__spec .title h4 {
    margin-bottom: 33px;
}

.testimonial__inner .boss__spec .para{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: justify;
}

/*boss swiper */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    /* background: #fff; */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
/*boss swiper */
/* =====testimonial section end here===== */


/* =====challange section start here===== */
.challange__section {
    margin: 200px 0;
}

.challange__section .our__info .address {
    padding: 134px 0 70px;
}

.challange__section .our__info .address h4,
 .challange__section .our__info .contact h4 {
    font-weight: 300;
    font-size: 30px;
    line-height: 48px;
    margin: 0;
}

.challange__inner .contact h4 a {
    text-decoration: none;
    color: #000;
}

.our__info .foot {
    padding-top: 70px;
}

.challange__section .our__info .foot form input {
    /* width: 100%; */
    outline: none;
    border: none;
    padding: 10px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.our__info form span {
    height: 3px;
    width: 100%;
    background: #000;
    display: block;
}

/* =====challange section end here===== */


/* =====footer section start here */
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__inner .social__media ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer__inner .social__media ul li {
    list-style: none;
    margin-right: 30px;
}

.footer__inner .social__media ul li:hover {
    margin-top: -30px;
    transition: .3s;
}

/* .footer__inner .social__media ul li a i{

} */

.footer__inner .social__media ul li a i {
    position: absolute;
    transition: .5s;
    left: 0px;/* bottom: 0; */
    display: inline-block;
    /* top: -10px; */}

.footer__inner .social__media ul li img {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: .3s;
    display: inline-block;
    margin-top: 2px;
}

.footer__inner .social__media ul li:hover img {
    visibility: visible;
    opacity: 1;
}

.footer__inner .social__media ul li a {
    position: relative;
    display: inline-block;
    margin: 0 8px;
    transition: .3s;
}
/* = */

.footer__inner .social__media ul li a i {
    font-size: 26px;
}
/* =====footer section end here */









/* ==============================================
            blog page start here
============================================== */
.blog__section {
    margin: 200px 0;
}

.blog__inner .title {
    text-align: center;
    padding-bottom: 200px;
}

.container-fluid {
    max-width: 1444px;
    margin: auto;
}

.image__section.for__blog {
    overflow: hidden;
}

.blog__inner .image__section.clip__path img {
    transform: scale(1.4);
    transition: all 0.5s ease-in-out;
}

.blog__inner .image__section.got__padd{
    margin-top: 100px;
}

.blog__inner .image__section.clip__path img:hover{
    transform: scale(1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.image__section__outer .content p {
    margin: 50px 0;
    font-size: 14px;
    line-height: 21px;
}

.image__section__outer .content h4 {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;color: #3F3F3F;
}


/* ==============================================
            blog page end here
============================================== */


/* =============================================
            career page start here
================================================*/

/* ========advantege section start here======== */

.advantage__inner .title.show__once h1 {
    display: none;
    padding: 50px 0;
    text-align: center;
    color: #fff;
}

/* ----accordion----- */
.accordion{
    text-align: -webkit-center;
}

.accrodion__one .accordion__display__one h3,
 .accrodion__two .accordion__display__two h3,
  .accrodion__three .accordion__display__three h3,
   .accrodion__four .accordion__display__four h3 {
    font-size: 20px;
}

.accrodion__one .accordion__display__one h3 span,
 .accrodion__two .accordion__display__two h3 span,
  .accrodion__three .accordion__display__three h3 span,
   .accrodion__four .accordion__display__four h3 span
   {
    background-color: transparent;
    padding: 10px;
    display: inline-block;
    border-radius: 50%;
    width: 45px;
    border: 2px solid #fff;
    margin-right: 10px;
    text-align: center;
}

.advantage__inner .text__part .title h1,
 .advantage__inner .text__part .accordion__display__one h3,
  .advantage__inner .text__part .accordion__display__two h3,
   .advantage__inner .text__part .accordion__display__three h3,
    .advantage__inner .text__part .accordion__display__four h3,
     .advantage__inner .text__part .accordion__hidden__one p,
      .advantage__inner .text__part .accordion__hidden__two p,
       .advantage__inner .text__part .accordion__hidden__three p,
        .advantage__inner .text__part .accordion__hidden__four p {
    color: #fff;
}

.accrodion__one,
 .accrodion__two,
  .accrodion__three,
   .accrodion__four
    {
    padding: 20px;
    margin: 30px 0;
}

.accordion__hidden__one,
 .accordion__hidden__two,
  .accordion__hidden__three,
   .accordion__hidden__four
    {
    display: none;
}

.accordion__hidden__one p,
 .accordion__hidden__two p,
  .accordion__hidden__three p,
    .accrodion__hidden__four p
  {
    font-size: 18px;
    color: #646464;
    margin-top: 20px;
}

.accordion__display__one,
 .accordion__display__two,
  .accordion__display__three,
    .accordion__display__four
   {
    cursor: pointer;
    position: relative;
    font-weight: bold;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

/* .accordion i#firsticon__for__one,
 .accordion i#firstsicon__for__two,
  .accordion i#firstsicon__for__three,
   .accordion i#firstsicon__for__four {
    color: #Fff;
} */
/* ----accordion end----- */

.advantage__inner .image__part {
    display: flex;
    justify-content: space-between;
}

.advantage__inner .image__part img:first-child {
    margin: 137px 0 20px 0;
}

.advantage__inner .image__part img:last-child{
    margin: 20px 0 137px 0;
}

/* ========advantege section end here======== */

.title.career__page a::after {
    width: 50%;
}

.joboffer__section {
    margin: 200px 0px;
}

.joboffer__inner .content__disk {
    margin: 103px 0;
}

.joboffer__inner .descript .content h4 {
    font-weight: 600;
    margin: 0 0 40px 0;
    font-size: 36px;
    line-height: 54px;
    background: linear-gradient(91.57deg, #0057FF 48.67%, #39C1DF 76.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.joboffer__inner .descript .content p {
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    text-align: justify;
}

.ouroffer__section { 
    margin: 200px;
}

.ouroffer__inner .facilities__quate {
    text-align: left;
}

.ouroffer__inner .facilities__quate .rotate {
    transform: rotate(90deg);
    display: inline-block;
}

.ouroffer__inner .offer__banner {
    margin: 100px 0;
}

.ouroffer__inner .title h4 {
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    margin: 40px 0 120px;
}

.ouroffer__inner .opportunities .content {
    padding-top: 10px;
    border-top: 1px solid #3F3F3F;
}

.ouroffer__inner .opportunities .content h4 {
    font-weight: 600;
    font-size: 33px;
    line-height: 54px;
}

.ouroffer__inner .opportunities .content {
    padding-top: 10px;
    border-top: 1px solid #3F3F3F;
}
    
.ouroffer__inner .opportunities .content p {
    margin: 40px 0 90px 0;
    font-size: 22px;
    line-height: 42px;
    text-align: justify;
}

.ouroffer__inner .offer__banner h1 a {
    padding: 20px;
}

.offer__banner h1 {
    color: rgba(0, 87, 255, 1);
    font-weight: 600;
    font-size: 60px;
    margin: 0;
    line-height: 78px;
}


    
/* =============================================
            career page start here
================================================*/